body {
    background-image: url('kids_circle.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    margin: 0;
}
.learn_more_button{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none; 
    font-size: 17px;
    cursor: pointer;
    background: transparent;
    border: 3.3px solit #ff4c68;
}
.learn_more_button:hover{
    background-color: #ff4c68;
    color: white;
}

.container {
    top: 150px;
    height:70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition: 0.4s ease;
}

.toggleBox {
    position: relative;
    display: bloock;
    height:70px;
    width: 70px;
    border-radius: 50%;
}

.icon {
    position: relative;
    height: 4px;
    width: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161d2c;
    border-radius: 50%;
}

.icon::before,.icon::after {
    content: '';
    position:  ;
    height: 4px;
    width: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161d2c;
    border-radius: 50%;
    transition: 0.3s;
}

.icon::before {
    top: 12px;
}
.icon::after {
    bottom: 8px;
}

