#componente_Rebeca {
    color: rebeccapurple;
}

body {
    background-image: url('images/kids_circle.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    margin: 0;
}