@import url("https://www.fontspace.com/soul-note-display-trial-font-f110131");

@font-face {
  font-family: myFirstFont;
  src: url(fonts/SoulNoteDisplayTrial-ALnnx.otf);
}

* {
  font-family: myFirstFont;
  font-size: xx-large;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("background_images/pexels-daria-obymaha-1683975.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4%;
  margin-left: 5%;
}

.overlay h3 {
  color: blanchedalmond;
  font-size: 20px;
  margin-bottom: 10px;
}

.overlay a{
  color: blanchedalmond;
  font-size: 20px;
  margin-bottom: 10px;
}

.overlay .wrapper {
  display: flex;
  max-height: 370px;
  height: 75%;
  max-width: 450px;
  width: 100%;
  color: blanchedalmond;
  background: transparent;
  border: 2px solid blanchedalmond;
  backdrop-filter: blur(20px);
  border-radius: 20px;
}

.wrapper h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: rgb(85, 78, 67);
}

.wrapper hr {
  border: 1px solid blanchedalmond;
  padding: 0;
}

.wrapper .column-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .column-container .input-box {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  outline: none;
  border: 2px solid blanchedalmond;
  border-radius: 20px;
  color: black;
  margin: 10px;
  padding: 10px;
}

.wrapper .column-container .input-box input::placeholder {
  color: rgb(62, 57, 49);
}

.wrapper .column-container .input-box input:focus {
  border: 2px solid blanchedalmond;
}

.wrapper .button {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}

.wrapper button {
  width: 50%;
  height: 100%;
  background: transparent;
  border: 2px solid blanchedalmond;
  outline: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
  border-radius: 20px;
}

.wrapper a{
  text-decoration: none;
}

#text {
  width: 15%;
  margin-right: 2%;
  top: 5vh;
  height: 30vh;
  border: 1px solid 0;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
