@import url("https://www.fontspace.com/soul-note-display-trial-font-f110131");

@font-face {
  font-family: myFirstFont;
  src: url(fonts/SoulNoteDisplayTrial-ALnnx.otf);
}

* {
  font-family: myFirstFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.pages {
  height: 100%;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 20px 0;
}

#first_screen {
  background-color: blanchedalmond;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  transition: all 0.4s ease;
}

.card {
  display: flex;
  height: 350px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 15px;
  flex: 1;
  background-color: grey;
  color: blanchedalmond;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: auto;
}

.card-content h1 {
  justify-content: start;
}

.popup {
  position: absolute;
  position: fixed;
  top: 27%;
  left: 39%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 10px;
  border: 2px solid blanchedalmond;
  z-index: 1;
  transform: scale(2);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

#popup.open {
  visibility: visible;
  opacity: 1;
  scale: 1;
  transform: scale(1.5);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

::-webkit-scrollbar {
  display: none;
}

.input-card {
  display: flex;
  height: 25%;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 15px;
  flex: 1;
  border: 2px solid blanchedalmond;
}

.input-card:hover {
  height: 50%;
  transition: all 0.3s ease;
}

.add-btn, .close-btn, .submit-btn {
  display: flex;
  height: 45px;
  border-radius: 20px;
  background-color: blanchedalmond;
  color: gray;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s ease;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 20px;
  margin: 5px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.big-card {
  display: flex;
  height: 250px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 15px;
  flex: 1;
  background-color: grey;
  justify-content: start;
}

.card1 {
  background-image: url("statistics/01.jpg");
}
.card2 {
  background-image: url("statistics/02.jpg");
}
.card3 {
  background-image: url("statistics/03.jpg");
}
.card4 {
  background-image: url("statistics/04.jpg");
}
.card5 {
  background-image: url("statistics/05.jpg");
}

.gradient-text {
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #158fa7,
    #54bca3,
    #7dc88d,
    #b9d236,
    #eed700,
    #fcc010,
    #f3844d,
    #fe4d39,
    #ff6e87,
    #d698bf,
    #7269bc,
    #6e6fc1,
    #3da5e2
  );
  background-clip: text;
  color: transparent;
}

.sidebar {
  position: fixed;
  flex: 0 0 auto;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  backdrop-filter: blur(20px);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 20%;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
  left: 20%;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

#sidebar.hidden {
  transform: translateX(0);
}

.blur {
  filter: blur(20px); /* Adjust the blur level as needed */
}

.padding {
  display: flex;
  flex-direction: column;
  padding: 2% 0.5% 2% 5%;
}

@media screen and (max-width: 1991px) {
  .padding {
    padding: 2% 0.5% 2% 4.5%;
  }

  .popup {
    left: 45%;
    transition: all 0.4s ease;
  }
} // Rebeca's screen size: 1990px

@media screen and (max-width: 1600px) {
  .padding {
    padding: 2% 0.5% 2% 5.4%;
  }
  
  .popup {
    left: 30%;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 1350px) {
  .padding {
    padding: 2% 0.5% 2% 6%;
  }
    
  .popup {
    left: 39%;
    transition: all 0.4s ease;
  }
} // Marius's screen size: 1286px

@media screen and (max-width: 1150px) {
  .padding {
    padding: 2% 0.5% 2% 8%;
  }
}

@media screen and (max-width: 1024px) {
  .padding {
    padding: 2% 0.9% 2% 9%;
  }
}

@media screen and (max-width: 770px) {
  .padding {
    padding: 2% 0% 2% 16%;
  }
      
  .popup {
    left: 28%;
    transition: all 0.4s ease;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
  }

  .content-box {
    max-width: calc(100% - 20px);
  }

  .sidebar li .tooltip {
    display: none;
  }

  .padding {
    padding: 2% 0% 2% 19%;
    transition: all 0.4s ease;
  }

  .gradient-text {
    font-size: 50px;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 380px) {
  .gradient-text {
    font-size: 30px;
    transition: all 0.4s ease;
  }

  .padding {
    padding: 2% 0% 2% 22%; /* Padding: top right bottom left */
  }
}
