a {
  text-decoration: underline;
}

.background {
  background-image: url("background_images/pexels-daria-obymaha-1683975.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.invalid_msg {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}

.go_back_btn_container {
  position: fixed;
  bottom: 5%;
  right: 1%;
  border-radius: 50%;
  padding: 10px;
  background-color: #11101d;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 99;
  transition: all 0.5s ease;
  transform: translateX(150%);
}

#go_back_btn.hidden_btn {
  transform: translateX(-50%);
}