@import url("https://www.fontspace.com/soul-note-display-trial-font-f110131");

@font-face {
  font-family: myFirstFont;
  src: url(fonts/SoulNoteDisplayTrial-ALnnx.otf);
}

* {
  font-family: myFirstFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

form{
  display: flex;
  align-content: center;
  justify-items: space-around;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80px;
  height: 500px;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px 15px;
  background-color: white;
  transition: transform 0.5s;
  flex-grow: 1;
  opacity: 75%;
}

h1 {
  font-size: 100px;
}

#mail {
  width: 650px;
  height: 100px;
}
#first_name {
  width: 650px;
  height: 100px;
}
#last_name {
  width: 650px;
  height: 100px;
}
#child_name {
  width: 650px;
  height: 100px;
}

#text{
  font-size: 20px;
}
input::-webkit-input-placeholder {
  /* Chrome, Opera, Safari */
  font-size: 32px;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 32px;
}

input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 32px;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 32px;
}