@import url("https://www.fontspace.com/soul-note-display-trial-font-f110131");

@font-face {
  font-family: myFirstFont;
  src: url(fonts/SoulNoteDisplayTrial-ALnnx.otf);
}

* {
  font-family: myFirstFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  display: flex;
}

.pages {
  flex: 1;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.full_screen {
  height: 100vh;
  width: 100vw;
}

#first_screen {
  background-image: url("background_images/pexels-jess-bailey-designs-965119.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.card {
  height: 300px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  flex-grow: 1;
  cursor: pointer;
  background: none;
  backdrop-filter: blur(20px);
  border: 2px solid blanchedalmond;
}

.card:hover {
  transform: translateY(-10px);
}

.left-side {
  display: flex;
  justify-content: flex-start;
  margin-right: 20%;
  transition: 0.5s;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  margin-left: 20%;
  transition: 0.5s;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

i {
  font-size: 5rem;
  cursor: pointer;
  color: blanchedalmond;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: blanchedalmond;
  display: flex;
  justify-content: center;
}

.padding {
  display: flex;
  flex-direction: column;
  padding: 2% 0.5% 2% 5%;
}

@media screen and (max-width: 1991px) {
  .padding {
    padding: 2% 0.5% 2% 4.5%;
  }
} 

@media screen and (max-width: 1600px) {
  .padding {
    padding: 2% 0.5% 2% 5.4%;
  }
}

@media screen and (max-width: 1350px) {
  .padding {
    padding: 2% 0.5% 2% 6%;
  }
} 

@media screen and (max-width: 1150px) {
  .padding {
    padding: 2% 0.5% 2% 8.4%;
  }
}

@media screen and (max-width: 1024px) {
  .padding {
    padding: 2% 0.4% 2% 8.5%;
  }

  .left-side {
    justify-content: center;
    margin: 0;
  }

  .right-side {
    justify-content: center;
    margin: 0;
  }

  h1 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    transition: all 0.4s ease;
  }

  i {
    font-size: 3.3rem;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 770px) {
  .padding {
    padding: 2% 0.7% 2% 13%;
  }

  h1 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    transition: all 0.4s ease;
  }

  i {
    font-size: 2.6rem;
    transition: all 0.4s ease;
  }

  .card {
    height: 250px;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 480px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
  }

  .content-box {
    max-width: calc(100% - 20px);
  }

  .sidebar li .tooltip {
    display: none;
  }

  .padding {
    padding: 2% 0.4% 2% 16%;
  }

  h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.4s ease;
  }

  i {
    font-size: 2rem;
    transition: all 0.4s ease;
  }

  .card {
    height: 150px;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 380px) {
  .padding {
    padding: 2% 1% 2% 19%; /* Padding: top right bottom left */
  }
}
