.container {
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(33.33% - 20px); /* Flex basis set to 33.33% minus margins */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #fff;
}

.card-content p {
  margin-bottom: 0;
  color: #fff;
}

.card1 {
  background-color: #FF6F61; /* Coral color */
}

.card2 {
  background-color: #6B5B95; /* Purple color */
}

.card3 {
  background-color: #88B04B; /* Green color */
}
