@import url("https://www.fontspace.com/soul-note-display-trial-font-f110131");

@font-face {
  font-family: myFirstFont;
  src: url(fonts/SoulNoteDisplayTrial-ALnnx.otf);
}

* {
  font-family: myFirstFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  height: 100vh;
}

form{
  display: flex;
  align-content: center;
  justify-items: space-around;
  flex-direction: column;
}

a#go_back_btn{
  width: 70px; 
  height: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px 15px;
  background-color: #3C5B6F;
  transition: transform 0.5s;
  flex-grow: 1;
}

h1 {
  font-size: 100px;
}

.submit-btn-email {
  background-color: #153448;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
  width: 100px;
  font-size: 20px;
}

#mail {
  width: 650px;
  height: 100px;
}
#first_name {
  width: 650px;
  height: 100px;
}
#last_name {
  width: 650px;
  height: 100px;
}
#child_name {
  width: 650px;
  height: 100px;
}

#text{
  font-size: 30px;
  font-weight: 700;
  background-color: #DFD0B8;
  max-width: 50%;
  text-align: center;
}
input::-webkit-input-placeholder {
  /* Chrome, Opera, Safari */
  font-size: 32px;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 32px;
}

input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 32px;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 32px;
}

@media screen and (max-width: 900px) {
  #text{
    max-width: 30%;
  }
  h1{
    font-size: 80px;
  }
}

@media screen and (max-width: 720px) {
  #text{
    max-width: 20%;
    max-height: 200px;
  }
  h1{
    font-size: 50px;
  }
}

@media screen and (max-width: 460px) {
  #text{
    max-width: 15%;
  }
  h1{
    font-size: 40px;
  }
}