@import url("https://www.fontspace.com/soul-note-display-trial-font-f110131");

@font-face {
  font-family: myFirstFont;
  src: url(fonts/SoulNoteDisplayTrial-ALnnx.otf);
}

* {
  font-family: myFirstFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: xx-large;
}

html,
body {
  scroll-behavior: smooth;
}

.pages {
  flex: 1;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full_screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first_screen {
  background-color: blanchedalmond;
}

#second_screen {
  background-image: url("../../public/images/background_images/pexels-josh-willink-1157399.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#third_screen {
  background-color: blanchedalmond;
}

.wrapper {
  display: flex;
  max-height: 500px;
  height: 100%;
  max-width: 800px;
  width: 100%;
  color: black;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  border: 2px solid #153448;
  backdrop-filter: blur(20px);
  z-index: 2;
  margin-top: 3%;
  margin-left: 6%;
  margin-right: 6%;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: all 0.4s ease;
}

.wrapper .image {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -70%);
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 0.8);
}

a#go_back_btn{
  width: 70px; 
  height: 50px;
}

.wrapper .image1 {
  background: #8f6ed5
    url("../../public/images/avatars/people-connecting-through-hugging.jpg")
    center center no-repeat;
  background-size: cover;
}

.wrapper .image2 {
  background: #8f6ed5
    url("../../public/images/avatars/cartoon-like-kid-playing-with-cubes-indoors.jpg")
    center center no-repeat;
  background-size: cover;
}

.wrapper .image3 {
  background: #8f6ed5
    url("../../public/images/avatars/portrait-man-with-beard-mustache-white-shirt-black-glasses-3d-rendering.jpg")
    center center no-repeat;
  background-size: cover;
}

.wrapper h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #153448;
}

#second_screen h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: blanchedalmond;
}



.wrapper hr {
  border: 1px solid black;
  padding: 0;
}

.wrapper .input-box {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: #3C5B6F;
  outline: none;
  border: 2px solid #3C5B6F;
  border-radius: 20px;
  color: blanchedalmond;
  padding: 20px 20px 20px 20px;
}

.wrapper .input-box input::placeholder {
  color: rgb(255, 235, 205);
}

.wrapper .input-box input:focus {
  border: 2px solid black;
}

.wrapper .button {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.wrapper button {
  width: 50%;
  height: 100%;
  background: transparent;
  border: 2px solid black;
  outline: none;
  color: black;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 20px;
}

#second_screen button {
  width: 50%;
  height: 100%;
  background: transparent;
  border: 2px solid black;
  outline: none;
  color: blanchedalmond;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(45deg);
  margin: -15px;
  animation: arrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.fixed-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #153448;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.fixed-button:hover {
  background-color: rgb(180, 178, 178);
}
.another {
  top: 50px;
  background-color: #D22B2B;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.card-msg {
  display:flex;
  justify-content: center;
  align-items: center;
}

.padding {
  display: flex;
  flex-direction: column;
  padding: 2% 0.5% 2% 5%;
}

@media screen and (max-width: 1991px) {
  .padding {
    padding: 2% 0.5% 2% 4.5%;
  }
} // Rebeca's screen size: 1990px

@media screen and (max-width: 1600px) {
  .padding {
    padding: 2% 0.5% 2% 5.4%;
  }
}

@media screen and (max-width: 1350px) {
  .padding {
    padding: 2% 0.5% 2% 7%;
  }
} // Marius's screen size: 1286px

@media screen and (max-width: 1150px) {
  .padding {
    padding: 2% 0.5% 2% 8%;
  }
}

@media screen and (max-width: 1024px) {
  .padding {
    padding: 2% 1% 2% 8%;
  }

  .wrapper {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 650px;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 770px) {
  .padding {
    padding: 2% 1% 2% 13%;
  }

  .wrapper {
    margin-left: 30%;
    margin-right: 30%;
    max-width: 500px;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 625px) {
  .padding {
    padding: 2% 1% 2% 15.3%;
  }

  .wrapper {
    margin-left: 35%;
    margin-right: 35%;
    max-width: 400px;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 480px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
  }

  .content-box {
    max-width: calc(100% - 20px);
  }

  .sidebar li .tooltip {
    display: none;
  }

  .padding {
    padding: 2% 1% 2% 16.4%;
  }

  .wrapper {
    margin-left: 33%;
    margin-right: 30%;
    max-width: 350px;
    max-height: 550px;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 400px) {
  .padding {
    padding: 2% 0.7% 2% 19%; /* Padding: top right bottom left */
  }
  .wrapper {
    margin-left: 33%;
    margin-right: 30%;
    max-width: 300px;
    max-height: 550px;
    transition: all 0.4s ease;
  }
}
