@import url("https://www.fontspace.com/soul-note-display-trial-font-f110131");

@font-face {
    font-family: myFirstFont;
    src: url(fonts/SoulNoteDisplayTrial-ALnnx.otf);
}

* {
    font-family: myFirstFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

li {
    margin-left: 16px;
}

a{
    cursor: pointer;
}

.journal_container_2{
    max-width: 991px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.toolbar{
    padding: 16px;
    background: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.toolbar .entries_buttons{
    display: flex;
    grid-gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.toolbar .entries_buttons button{
    background: #fff;
    border-radius: 6px;
    border: 2px solid #ddd;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.toolbar .entries_buttons button:hover{
    background: #f3f3f3;
}

.toolbar .entries_buttons > input{
    max-width: 100px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
}

.toolbar .entries_buttons > input::placeholder{
    text-align: center;
}

.toolbar .head {
    display: flex;
    grid-gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.toolbar .head > input{
    max-width: 100px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
}

.toolbar .head select, .toolbar .head label{
    background: #fff;;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
    cursor: pointer;
}
.toolbar .head label{
    padding: 4px;
} 

.toolbar .head .color{
    background: #fff;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 6px;
    padding:0 10px;
}

.toolbar .head .color span{
    font-size: 14px;

}

.toolbar .head .color input{
    border: none;
    padding: 0%;
    width: 26px;
    height: 26px;
    background: #fff;
    cursor: pointer;
}

.toolbar .btn-toolbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 10px;
}

.toolbar .btn-toolbar button, .toolbar .btn-toolbar label{
    background: #fff;
    border-radius: 6px;
    border: 2px solid #ddd;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.toolbar .btn-toolbar input{
    display: none;
}

.toolbar .btn-toolbar button:hover{
    background: #f3f3f3;
}

#content{
    padding: 16px;
    outline: none;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#content img{
    object-fit: contain;
    max-height: 500px;
    max-width: 700px;
}

#show-code[data-active="true"]{
    background: #eee;
}

/* .journal_container {
    background-color: whitesmoke;
    height: 1000px;
    width: 800;
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 12%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#title {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    margin-top: 3%;
    position: relative;
    max-width: 600px;
    padding: 10px;
    margin: 5px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: whitesmoke;
}

#text{
    font-size: 33px;
    max-width: 800px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: white;
    max-height: 800px;
    font-weight: 400;
} */